<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    
    <display-name>ticketbook</display-name>

   <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>com.acme.ticketbook.ProfileController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

	<!-- Session Configuration -->
	<session-config>
	        <session-timeout>120</session-timeout>
	</session-config>

	<!-- Error Configuration -->
	<error-page>
	    <exception-type>com.contrastsecurity.agent.plugins.rasp.AttackBlockedException</exception-type >
	    <location>/security.jsp</location>
	</error-page>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/admin.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/manager.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>MANAGER</role-name>
        </auth-constraint>
    </security-constraint>
    
</web-app>